@model List<MyBook.DAL.Entities.Subscription>

@{
    ViewBag.Title = "Подписка";
    Layout = "_Layout";
}

<main id="content">
<div class="container">
    <div class="py-4 py-lg-8 pl-3">
        <h1 class="font-weight-bold text-center">Выберите подписку</h1>
        <p class="font-weight-medium font-size-3 text-center">
            На сегодня в каталоге
            394 000 книг и лекций.
        </p>
    </div>
    <div class="space-bottom-1 space-bottom-lg-3 pricing-table">
        <div class="row no-gutters-xl pb-lg-3 justify-content-center">
            
            @foreach (var sub in Model)
            {
                <div class="col-md-6 col-xl-3">
                    <div class="@(sub.Id == 2 ? "border border-sh-hover transition-3d-hover border-sunglow border-width-4 rounded-hg mr-4 px-3 pb-4 text-center mb-5 mb-xl-0 bg-white" : "border border-sh-hover transition-3d-hover rounded-hg mr-4 px-3 pb-4 text-center mb-5 mb-xl-0 bg-white")" style="@(sub.Id == 2 ? "border-width: 5px !important;" : "")">
                        <div class="mb-5 pt-lg-3 pb-lg-1">
                            @{
                                switch (sub.Id)
                                {
                                    case 1:
                                        <svg viewBox="0 0 16 16" fill="#000" width="80" height="80">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.758 2.639c.126-.114.219-.08.207.074-.136 1.022-.873 1.771-.873 1.771L9.305 7.506a1857.8 1857.8 0 013.485-2.373c.14-.095.231-.083.201.027-.326 1.067-1.163 1.699-1.163 1.699L9.523 8.577c.984.157 1.74.002 1.74.002.085-.013.114.028.062.093 0 0 .006-.004-.04.049-.865 1-2.37 1.156-3.018 1.175.559.311 1.561.286 1.561.286.088 0 .12.056.07.125-.749.9-2.4.496-2.897.348.57.56 1.473.68 1.473.68.087.017.109.078.052.14-.743.694-2.134.532-2.827.397l1.472.735c.079.04.08.106.006.149l-.026.014c-.914.48-1.791.104-2.272-.198l-.316.35s-1.23-1.528-.728-3.856C4.338 6.74 7.856 6.065 8.93 4.662l-.003.159c-.002 0-.028 1.055-.555 1.562-.268.258-.431.424-.431.424-.125.14-.266.315-.073.327l.181.01c.087.005.105.054.04.11l-.729.622c-.137.117-.085.33.093.38l.21.056c.083.023.088.072.012.11l-.596.294A.217.217 0 007 9.051l.29.35c.053.065.034.15-.04.19l-1.023.53 1.282-.325c.149-.052.201-.227.103-.345l-.282-.348c-.052-.065-.032-.148.044-.186l.86-.425a.219.219 0 00-.044-.412l-.364-.1c-.084-.022-.1-.085-.037-.14l.83-.708c.154-.132.065-.375-.143-.388l-.053.002c-.087.003-.108-.042-.047-.1l1.347-1.282 3.034-2.725z" fill="#BCC7D6">
                                            </path>
                                        </svg>
                                        break;
                                    case 2:
                                        <svg viewBox="0 0 24 24" fill="#000" width="80" height="80">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.784 19.786c.265.196.496.39.695.572.2-.183.43-.376.696-.572-.098-.123-.493-.668-.326-1.295.19-.713 1.182-1.49 1.182-1.49s.565.808.334 1.522c-.112.345-.39.659-.646.89.136-.087.278-.172.427-.257.518-.294.942-.583 1.29-.857-.034.022-.053.032-.053.032s-.656-.768-.467-1.376c.188-.609.691-1.063.691-1.063s.629.552.542 1.309a1.47 1.47 0 01-.424.858c1.118-.978 1.268-1.741 1.287-1.908-.031-.24-.067-.691.055-1.026.172-.476.715-.935.715-.935s.513.753.2 1.366a1.5 1.5 0 01-.693.664 4.2 4.2 0 01-.327.668c.178-.148.4-.305.623-.386.503-.183 1.23-.09 1.23-.09s-.29.849-.996 1.02a1.66 1.66 0 01-1.126-.127c-.162.23-.363.482-.608.74a2.15 2.15 0 01.762-.22c.678-.044 1.31.241 1.31.241s-.291.89-1.41.933c-.776.03-1.088-.262-1.207-.444-.345.29-.752.573-1.229.828-.235.126-.46.284-.67.462.242-.08.616-.161 1.156-.182 1.118-.044 1.601.582 1.601.582s-.485.404-1.604.448c-.853.033-1.29-.38-1.45-.58a7.12 7.12 0 00-.526.576c.512.532.723.916.723.916l-.462.467s-.222-.42-.6-.943c-.378.524-.6.943-.6.943l-.462-.467s.211-.384.723-.916a7.102 7.102 0 00-.525-.575c-.16.199-.598.612-1.45.579-1.12-.044-1.605-.448-1.605-.448s.484-.626 1.602-.582c.54.021.913.103 1.156.182a3.928 3.928 0 00-.67-.462 7.12 7.12 0 01-1.23-.828c-.119.182-.43.474-1.207.444-1.119-.044-1.409-.933-1.409-.933s.631-.285 1.31-.241c.265.017.533.11.761.22a6.493 6.493 0 01-.608-.74 1.66 1.66 0 01-1.126.127c-.706-.171-.996-1.02-.996-1.02s.728-.093 1.23.09c.224.082.446.238.623.386a4.196 4.196 0 01-.327-.668 1.5 1.5 0 01-.693-.664c-.313-.613.2-1.366.2-1.366s.543.46.716.935c.121.335.086.787.054 1.026.02.167.17.93 1.287 1.908a1.47 1.47 0 01-.424-.858c-.086-.757.542-1.31.542-1.31s.504.455.692 1.064c.188.608-.467 1.376-.467 1.376s-.02-.01-.053-.032c.348.274.772.563 1.29.857.149.085.29.17.426.257-.256-.232-.534-.545-.646-.89-.23-.714.334-1.521.334-1.521s.992.776 1.182 1.49c.168.627-.227 1.171-.325 1.294zM21.104 2.02c.173-.152.3-.107.284.1-.186 1.373-1.191 2.38-1.191 2.38l-3.804 4.06c.661-.448 4.756-3.188 4.756-3.188.192-.128.315-.113.275.036-.446 1.433-1.587 2.283-1.587 2.283L16.69 9.998c1.343.211 2.374.003 2.374.003.117-.018.155.037.085.125 0 0 .009-.006-.054.066-1.18 1.343-3.236 1.553-4.12 1.579.764.418 2.132.384 2.132.384.119 0 .162.075.095.168-1.022 1.209-3.276.666-3.954.468.777.753 2.01.913 2.01.913.118.022.149.105.07.188-1.013.933-2.91.715-3.857.533l2.009.989c.107.053.11.141.009.2l-.037.019c-1.247.645-2.444.14-3.1-.267l-.431.47s-1.68-2.053-.993-5.18c.686-3.128 5.487-4.033 6.95-5.918 0 .072-.001.143-.004.213-.001 0-.037 1.418-.756 2.099-.366.347-.589.57-.589.57-.17.188-.363.423-.1.44l.248.013c.119.007.143.073.055.147l-.995.836c-.187.158-.116.445.126.51l.286.076c.114.03.12.097.018.147l-.814.396c-.178.087-.228.302-.105.45l.395.47c.073.088.048.203-.055.255l-1.395.712 1.749-.436c.204-.07.275-.304.142-.464l-.385-.467c-.072-.088-.045-.2.06-.25l1.173-.572c.257-.125.219-.478-.06-.553l-.497-.133c-.115-.03-.137-.116-.05-.189l1.132-.951c.211-.178.089-.504-.195-.521l-.072.002c-.119.003-.148-.057-.064-.136l1.838-1.721 4.14-3.662z" fill="#FFC72C">
                                            </path>
                                        </svg>
                                        break;
                                    case 3:
                                        <svg viewBox="0 0 16 16" fill="#000" width="80" height="80">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.758 2.639c.126-.114.219-.08.207.074-.136 1.022-.873 1.771-.873 1.771L9.305 7.506a1857.8 1857.8 0 013.485-2.373c.14-.095.231-.083.201.027-.326 1.067-1.163 1.699-1.163 1.699L9.523 8.577c.984.157 1.74.002 1.74.002.085-.013.114.028.062.093 0 0 .006-.004-.04.049-.865 1-2.37 1.156-3.018 1.175.559.311 1.561.286 1.561.286.088 0 .12.056.07.125-.749.9-2.4.496-2.897.348.57.56 1.473.68 1.473.68.087.017.109.078.052.14-.743.694-2.134.532-2.827.397l1.472.735c.079.04.08.106.006.149l-.026.014c-.914.48-1.791.104-2.272-.198l-.316.35s-1.23-1.528-.728-3.856C4.338 6.74 7.856 6.065 8.93 4.662l-.003.159c-.002 0-.028 1.055-.555 1.562-.268.258-.431.424-.431.424-.125.14-.266.315-.073.327l.181.01c.087.005.105.054.04.11l-.729.622c-.137.117-.085.33.093.38l.21.056c.083.023.088.072.012.11l-.596.294A.217.217 0 007 9.051l.29.35c.053.065.034.15-.04.19l-1.023.53 1.282-.325c.149-.052.201-.227.103-.345l-.282-.348c-.052-.065-.032-.148.044-.186l.86-.425a.219.219 0 00-.044-.412l-.364-.1c-.084-.022-.1-.085-.037-.14l.83-.708c.154-.132.065-.375-.143-.388l-.053.002c-.087.003-.108-.042-.047-.1l1.347-1.282 3.034-2.725z" fill="#FFC72C">
                                            </path>
                                        </svg>
                                        break;
                                    default:
                                        <text>
                                            <h1>WTF Site</h1>
                                        </text>
                                        break;
                                }
                            }

                            <h6 class="font-weight-bold font-size-5 mb-3 mt-2">@sub.Name</h6>
                            <div class="d-flex flex-column">
                                <div class="mb-3">
                                    <sub class="font-weight-bold font-size-5">@sub.Price.ToString("C0")</sub>
                                </div>
                            </div>
                        </div>

                        <ul class="list-unstyled mb-lg-13 pb-1">
                            @foreach (var description in sub.Description.Split("\n"))
                            {
                                <li class=" mb-2 pb-1">@description</li>
                            }
                        </ul>
                        <div class="d-flex justify-content-center">
                            <button onclick='window.location = "@Url.Action("Payment", "Sub", new { subId = sub.Id })";'
                                type="submit" class="btn btn-block btn-gradient font-weight-bold rounded-hg transition-3d-hover height-55">Оформить подписку</button>
                        </div>
                    </div>
                </div>
            }
            
        </div>
    </div>
</div>
    
<div class="bg-white">
    <div class="container">
        <div class="py-4 py-lg-5 py-xl-8">
            <h6 class="font-weight-medium font-size-7 font-size-xs-25 text-center">Частые вопросы</h6>
        </div>
        <div class="col-lg-8 mx-auto">
            <div class="space-bottom-1 space-bottom-lg-3 faq-accordion">
                <div class="pb-lg-1">
                    <div class="mb-8 pb-1">
                        <div id="basicsAccordion">
                            <div class="card rounded-0 border-0">
                                <div class="card-collapse card-header p-0 bg-transparent border-bottom-0" id="basicsHeadingOne">
                                    <button type="button" class="collapse-link btn btn-block d-flex align-items-center justify-content-between card-btn py-3 px-0 px-md-4 border rounded-0 shadow-none" data-toggle="collapse" data-target="#basicsCollapseOne" aria-expanded="true" aria-controls="basicsCollapseOne">
                                        <span class="mx-md-1">Что такое подписка?</span>
                                        <svg class="minus" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="2px">
                                            <path fill-rule="evenodd" fill="rgb(22, 22, 25)" d="M0.000,-0.000 L15.000,-0.000 L15.000,2.000 L0.000,2.000 L0.000,-0.000 Z"></path>
                                        </svg>
                                        <svg class="plus" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="15px">
                                            <path fill-rule="evenodd" fill="rgb(22, 22, 25)" d="M15.000,8.000 L9.000,8.000 L9.000,15.000 L7.000,15.000 L7.000,8.000 L0.000,8.000 L0.000,6.000 L7.000,6.000 L7.000,-0.000 L9.000,-0.000 L9.000,6.000 L15.000,6.000 L15.000,8.000 Z"></path>
                                        </svg>
                                    </button>
                                </div>
                                <div id="basicsCollapseOne" class="collapse show" aria-labelledby="basicsHeadingOne" data-parent="#basicsAccordion" style="">
                                    <div class="card-body p-3 p-md-4">
                                        <div class="mx-md-1">
                                            <p class="mb-4 pb-1 font-size-2">Подписка — способ читать и слушать книги практически без ограничений. Примером может служить абонентская плата за интернет или мобильную связь. Вам больше не нужно задумываться о покупке книг по одной, вы получаете доступ ко всему каталогу книг и аудиокниг. Это десятки тысяч изданий всех жанров литературы.
                                                Подписка открывает доступ к каталогу по одному из двух тарифов: стандарт или премиум. Однако у нас есть и бесплатные книги.</p>
                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="card rounded-0 border-0 ">
                                <div class="card-header card-collapse p-0 bg-transparent border-bottom-0" id="basicsHeadingTwo">
                                    <h5 class="mb-0">
                                        <button type="button" class="collapse-link btn btn-block d-flex align-items-center justify-content-between card-btn py-3 px-0 px-md-4 border rounded-0 shadow-none mt-minus-1 collapsed" data-toggle="collapse" data-target="#basicsCollapseTwo" aria-expanded="false" aria-controls="basicsCollapseTwo">
                                            <span class="mx-md-1">Сколько книг я могу прочесть за месяц?</span>
                                            <svg class="minus" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="2px">
                                                <path fill-rule="evenodd" fill="rgb(22, 22, 25)" d="M0.000,-0.000 L15.000,-0.000 L15.000,2.000 L0.000,2.000 L0.000,-0.000 Z"></path>
                                            </svg>
                                            <svg class="plus" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="15px">
                                                <path fill-rule="evenodd" fill="rgb(22, 22, 25)" d="M15.000,8.000 L9.000,8.000 L9.000,15.000 L7.000,15.000 L7.000,8.000 L0.000,8.000 L0.000,6.000 L7.000,6.000 L7.000,-0.000 L9.000,-0.000 L9.000,6.000 L15.000,6.000 L15.000,8.000 Z"></path>
                                            </svg>
                                        </button>
                                    </h5>
                                </div>
                                <div id="basicsCollapseTwo" class="collapse" aria-labelledby="basicsHeadingTwo" data-parent="#basicsAccordion" style="">
                                    <div class="card-body p-3 p-md-4">
                                        <div class=" m-1">
                                            <p class="mb-4 pb-1 font-size-2">Сколько сможете. Читайте столько, сколько захотите. Мы не ограничиваем вас в количестве книг.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="card rounded-0 border-0">
                                <div class="card-header card-collapse p-0 bg-transparent border-bottom-0" id="basicsHeadingThree">
                                    <button type="button" class="collapse-link btn btn-block d-flex align-items-center justify-content-between card-btn py-3 px-0 px-md-4 border rounded-0 shadow-none mt-minus-1 collapsed" data-toggle="collapse" data-target="#basicsCollapseThree" aria-expanded="false" aria-controls="basicsCollapseThree">
                                        <span class="mx-md-1">Что будет с моими книгами, когда закончится оплаченное время подписки?</span>
                                        <svg class="minus" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="2px">
                                            <path fill-rule="evenodd" fill="rgb(22, 22, 25)" d="M0.000,-0.000 L15.000,-0.000 L15.000,2.000 L0.000,2.000 L0.000,-0.000 Z"></path>
                                        </svg>
                                        <svg class="plus" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="15px">
                                            <path fill-rule="evenodd" fill="rgb(22, 22, 25)" d="M15.000,8.000 L9.000,8.000 L9.000,15.000 L7.000,15.000 L7.000,8.000 L0.000,8.000 L0.000,6.000 L7.000,6.000 L7.000,-0.000 L9.000,-0.000 L9.000,6.000 L15.000,6.000 L15.000,8.000 Z"></path>
                                        </svg>
                                    </button>
                                </div>
                                <div id="basicsCollapseThree" class="collapse" aria-labelledby="basicsHeadingThree" data-parent="#basicsAccordion" style="">
                                    <div class="card-body p-3 p-md-4">
                                        <div class="mx-md-1">
                                            <p class="mb-4 pb-1 font-size-2">После окончания подписки книги остаются в вашей учетной записи, но доступ к ним приостанавливается. То есть, вы не сможете читать, слушать книги и использовать выделенные вами цитаты. Однако вы сможете просматривать состав «Моих книг», добавлять в список новые или удалять ненужные книги.
                                                После продления подписки вы вновь сможете читать и слушать добавленные книги.
                                                Бесплатные книги доступны всегда, независимо от наличия подписки.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="card rounded-0 border-0">
                                <div class="card-header card-collapse p-0 bg-transparent border-bottom-0" id="basicsHeadingFour">
                                    <button type="button" class="collapse-link btn btn-block d-flex align-items-center justify-content-between card-btn py-3 px-0 px-md-4 border rounded-0 shadow-none mt-minus-1 collapsed" data-toggle="collapse" data-target="#basicsCollapseFour" aria-expanded="false" aria-controls="basicsCollapseFour">
                                        <span class="mx-1">Легальны ли книги в библиотеке MyBook?</span>
                                        <svg class="minus" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="2px">
                                            <path fill-rule="evenodd" fill="rgb(22, 22, 25)" d="M0.000,-0.000 L15.000,-0.000 L15.000,2.000 L0.000,2.000 L0.000,-0.000 Z"></path>
                                        </svg>
                                        <svg class="plus" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="15px">
                                            <path fill-rule="evenodd" fill="rgb(22, 22, 25)" d="M15.000,8.000 L9.000,8.000 L9.000,15.000 L7.000,15.000 L7.000,8.000 L0.000,8.000 L0.000,6.000 L7.000,6.000 L7.000,-0.000 L9.000,-0.000 L9.000,6.000 L15.000,6.000 L15.000,8.000 Z"></path>
                                        </svg>
                                    </button>
                                </div>
                                <div id="basicsCollapseFour" class="collapse" aria-labelledby="basicsHeadingFour" data-parent="#basicsAccordion" style="">
                                    <div class="card-body p-3 p-md-4">
                                        <div class="mx-md-1">
                                            <p class="mb-4 pb-1 font-size-2">Да, полностью. В каталог MyBook сейчас попадает вся коллекция изданий из книжного магазина ЛитРес, который заключает прямые договоры с авторами и издательствами.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="card rounded-0 border-0">
                                <div class="card-header card-collapse p-0 bg-transparent border-bottom-0" id="basicsHeadingFive">
                                    <button type="button" class="collapse-link btn btn-block d-flex align-items-center justify-content-between card-btn py-3 px-0 px-md-4 border rounded-0 shadow-none mt-minus-1 collapsed" data-toggle="collapse" data-target="#basicsCollapseFive" aria-expanded="false" aria-controls="basicsCollapseFive">
                                        <span class="mx-1">Какие устройства поддерживаются?</span>
                                        <svg class="minus" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="2px">
                                            <path fill-rule="evenodd" fill="rgb(22, 22, 25)" d="M0.000,-0.000 L15.000,-0.000 L15.000,2.000 L0.000,2.000 L0.000,-0.000 Z"></path>
                                        </svg>
                                        <svg class="plus" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="15px">
                                            <path fill-rule="evenodd" fill="rgb(22, 22, 25)" d="M15.000,8.000 L9.000,8.000 L9.000,15.000 L7.000,15.000 L7.000,8.000 L0.000,8.000 L0.000,6.000 L7.000,6.000 L7.000,-0.000 L9.000,-0.000 L9.000,6.000 L15.000,6.000 L15.000,8.000 Z"></path>
                                        </svg>
                                    </button>
                                </div>
                                <div id="basicsCollapseFive" class="collapse" aria-labelledby="basicsHeadingFour" data-parent="#basicsAccordion" style="">
                                    <div class="card-body p-3 p-md-4">
                                        <div class="mx-md-1">
                                            <p class="mb-4 pb-1 font-size-2">На большинстве планшетов и смартфонов систем iOS версии выше 12, Android версии выше 6 в мобильном приложении MyBook, а также с компьютера на сайте. Не поддерживаем чтение в браузере IE до 11 версии.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</main>